
#selector-for-some-widget {
    box-sizing: content-box;
}

.b { 
    background-color: #efefef;
    position:relative;
    margin:0px;
    box-sizing: content-box;
}

.isDisabled {
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}

a:link,a:visited,a:hover,a:active {
    color: white !important;
}

.banner {
    background-color: #07889b;
    padding-top: 5px;
    padding-bottom: 5x;
}

::-webkit-input-placeholder  { 
    color: 2px 3px 0px rgb(211,211,211);
}

.font-banner{
    font: bold 30px Andale Mono, monospace;
    color: whitesmoke;
}
.btn-gray{
    font: bold 15px Andale Mono, monospace;
}
.img-banner{
    position: relative;
    height:45px;
    width: 45px;
    right: 2px;
}

.form-rodape {
    font: 14px Andale Mono, monospace;
    background-color: rgb(220,220,220);
    color: rgb(119,119,119);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a:link 
{ 
text-decoration:none; 
} 