.b { 
    background-color: #efefef;
    position:relative;
    margin:0px;
    box-sizing: content-box;
}
.banner {
    background-color: #07889b;
    width:100%;
    height: 50%;
}
.banner{
    font: bold arial, helvetica, sans-aerif;
    font-size: 200%;
    text-align: center;
    color:#efefef;
}
.index-rodape{
    font: 14px Andale Mono, monospace;
    background-color: rgb(220,220,220);
    color: rgb(119,119,119);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a:link,a:visited,a:hover,a:active {
    color: white !important;
}