.b { 
    background-color: #efefef;
    position:relative;
    margin:0px;
    box-sizing: content-box;
}
.banner {
    background-color: #07889b;
    width:100%;
    height: 50%;
}
::-webkit-input-placeholder  { 
    color: 2px 3px 0px rgb(211,211,211);
}
.banner{
    font: bold arial, helvetica, sans-aerif;
    font-size: 200%;
    text-align: center;
    color:#efefef;
}
.img-banner{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-right: 5px;
    position: relative;
    width:60x;
	height:60px;
    overflow:hidden;
    filter: opacity(50%);
}
.cpf { 
    background-color:  rgb(220,220,220);
    padding: 10px;
    margin: 10px;
    font: bold 15px arial, helvetica, sans-aerif;
    border:none!important;
    box-shadow:  2px 3px 0px rgb(211,211,211);
    color: rgb(119,119,119);
}

.enviarbutton1{
    background-color:  rgb(135,206,250) ;
    box-shadow: 2px 3px 0px rgb(211,211,211);
    padding: 10px;
    margin: 10px;
    font: bold 15px arial, helvetica, sans-aerif;
    border:none!important;
    color: whitesmoke;
    font-size:14px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none; 
    
}

.isDisabled {
    cursor: not-allowed;
    text-decoration: none;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
  }

a:link,a:visited,a:hover,a:active {
    color: white;
  }

.enviarbutton1:hover{
    background:rgb(173,216,230);
    box-shadow: 2px 3px 0px rgb(211,211,211);
    color: white;
}