
#selector-for-some-widget {
    box-sizing: content-box;
}

.b { 
    background-color: #efefef;
    position:relative;
    margin:0px;
    box-sizing: content-box;
}

.box-phone{
    background-color:#185B86;
    width: 100%;
    height: 27px;
    padding-top: 4px;
}
.phone-contact{
    color: #fff;
    font-size: 12px;
    margin-left: 229px;
}

.isDisabled {
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}

a:link,a:visited,a:hover,a:active {
    color: white !important;
}

a:link { 
text-decoration:none; 
}
.img-banner{
    position: relative;
    width: 130px;
    height: 60px;   
}

.nav-bar{
    background-color: #fff;
    border-bottom: 1px solid;
    border-color: rgb(220,220,220);
    padding-top: 5px;
    padding-bottom: 5x;
}